body {
  font-family: "Rubik", sans-serif;
}

html {
  scroll-behavior: smooth;
}

li {
  list-style-type: none;
}

a {
  white-space: nowrap;
  text-decoration: none;
}

@media (min-width: 100px) {
  :root {
    font-size: 13px;
  }
}
@media (min-width: 576px) {
  :root {
    font-size: 14px;
  }
}
@media (min-width: 768px) {
  :root {
    font-size: 15px;
  }
}
@media (min-width: 992px) {
  :root {
    font-size: 16px !important;
  }
}
header {
  position: relative;
}

#margin_top {
  margin-top: 24px;
}

.nav-container {
  padding: 11px 0 2px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 650px) {
  .nav-container {
    gap: 20px;
  }
}
.nav-container .navbar__res-logo {
  display: none;
}
@media (max-width: 650px) {
  .nav-container .navbar__res-logo {
    display: block;
  }
  .nav-container .navbar-brand {
    display: none;
  }
}
.nav-container .nav-catalog {
  padding: 8px 16px 8px 8px;
  background: #70c05b;
  border-radius: 4px;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 150%;
  color: #ffffff;
}
.nav-container .nav-catalog a {
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 150%;
  color: #ffffff;
}
@media (max-width: 900px) {
  .nav-container .nav-catalog a {
    display: none;
  }
  .nav-container .nav-catalog button {
    padding: 8px !important;
  }
}
@media (max-width: 450px) {
  .nav-container .nav-catalog button {
    display: none !important;
  }
}
.nav-container .nav-catalog button {
  color: #ffffff;
  background-color: transparent;
  border: none;
  transition: 0.3s;
}
.nav-container .nav-catalog button i {
  font-size: 24px;
}
.nav-container .nav-input form {
  position: relative;
}
.nav-container .nav-input form input {
  padding: 8px 16px;
  width: 90%;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 150%;
  color: #8f8f8f;
  background: #ffffff;
  border: 1px solid #70c05b;
  border-radius: 4px;
}
.nav-container .nav-input form input:focus {
  outline: none;
  box-shadow: none;
}
.nav-container .nav-input form i {
  position: absolute;
  top: 20%;
  right: 12%;
}
.nav-container .nav-right .nav-avatar button {
  border: none;
  background-color: transparent !important;
}
@media (max-width: 1000px) {
  .nav-container .nav-right .nav-avatar p {
    display: none;
  }
  .nav-container .nav-right .nav-avatar button {
    display: none;
  }
}
.nav-container .nav-right .nav__menus-icons .nav__menu-icon a i {
  color: #000000;
}
.nav-container .nav-right .nav__menus-icons .nav__menu-icon button,
.nav-container .nav-right .nav__menus-icons .nav__menu-icon a {
  border: none;
  background-color: transparent;
}
.nav-container .nav-right .nav__menus-icons .nav__menu-icon button i,
.nav-container .nav-right .nav__menus-icons .nav__menu-icon a i {
  position: relative;
}
.nav-container .nav-right .nav__menus-icons .nav__menu-icon button i .nav-badge,
.nav-container .nav-right .nav__menus-icons .nav__menu-icon a i .nav-badge {
  padding: 0px 2px 2px 2px;
  position: absolute;
  width: 11.28px;
  height: 12px;
  border-radius: 4px;
  top: -4px;
  left: calc(50% - 5.64px + 5.5px);
  background: #ff6633;
  font-size: 10px;
  color: white;
  font-weight: 500;
}
.nav-container .nav-right .nav__menus-icons .nav__menu-icon i {
  font-size: 24px;
  transition: 0.3s;
}
.nav-container .nav-right .nav__menus-icons .nav__menu-icon i:hover {
  color: #ff6633;
}
.nav-container .nav-right .nav__menus-icons .nav__menu-icon p {
  font-style: normal;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 150%;
  color: #414141;
}

@media (max-width: 550px) {
  .nav__scroll {
    align-items: center;
    gap: 20px;
  }
  .nav-right {
    display: none !important;
  }
}
.navbar-nav {
  display: grid;
  grid-gap: 40px 40px;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
@media (max-width: 700px) {
  .navbar-nav {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 500px) {
  .navbar-nav {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 400px) {
  .navbar-nav {
    grid-template-columns: 1fr;
  }
}

.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: var(--bs-navbar-padding-y) var(--bs-navbar-padding-x);
}

#navbar {
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
}

.navbar-shrink .nav-container {
  padding: 10px 0 0px 0;
  transition: 0.5s;
  z-index: 999;
}

.nav-link {
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 150%;
  color: #414141;
}

.nav-link:hover {
  color: #ff6633;
}

.navbarr {
  max-width: 100%;
  margin: 0 auto;
  position: relative;
}

#navbarMenu,
#footerMenu {
  position: absolute;
  left: 0;
  right: 0;
  padding: 40px 0;
  width: 100%;
  cursor: pointer;
  background-color: #fff;
}

.navbar-menus {
  display: none;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 1;
}

#home {
  margin-top: 80px;
}

.home-container {
  padding-top: 40px;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 40px 40px;
}
@media (min-width: 550px) {
  .home-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 768px) {
  .home-container {
    grid-template-columns: repeat(4, 1fr);
  }
}
.home-container .card {
  background: #ffffff;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}
.home-container .card .card__descriptions {
  padding: 8px;
}
.home-container .card .card__prices {
  display: flex;
  justify-content: space-between;
}
.home-container .card .card__prices h4 {
  font-style: normal;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 150%;
  color: #414141;
}
.home-container .card .card__prices h5 {
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 150%;
  color: #606060;
}
.home-container .card .card__prices p {
  font-style: normal;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 150%;
  color: #bfbfbf;
}
.home-container .card .card__description p {
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 150%;
  color: #414141;
}
.home-container .card .card__button {
  margin-top: 16px;
  padding: 8px;
  width: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 150%;
  color: #70c05b;
  border: 1px solid #70c05b;
  border-radius: 4px;
  transition: 0.3s;
}
.home-container .card .card__button:hover {
  color: #ffffff;
  background: #ff6633;
  border-radius: 4px;
}

.footer__fixed-menus {
  display: none;
  position: fixed;
  bottom: 60px;
  width: 100%;
  z-index: 1;
}
.footer__fixed-menus ul a {
  margin-bottom: 10px;
}

footer .footer {
  padding: 24px 0;
  background: #f9f4e2;
}
footer .footer .footer-links .footer__links {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
@media (max-width: 1180px) {
  footer .footer .footer-links .footer__links {
    grid-template-columns: 1fr;
  }
}
footer .footer .footer-links .footer__links li a {
  white-space: nowrap;
  font-style: normal;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 150%;
  color: #414141;
}
footer .footer .footer-icons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 16px 16px;
}
@media (max-width: 1200px) {
  footer .footer .footer-icons {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 550px) {
  footer .footer .footer-icons {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (max-width: 625px) {
  footer .footer .footer__call-center {
    flex-direction: column;
  }
}
footer .footer .footer__call-center a {
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 150%;
  color: #414141;
}
@media (max-width: 550px) {
  footer .footer .footer__bottom-logo {
    display: none !important;
  }
}
footer .footer .footer__bottom-logo p {
  font-style: normal;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 150%;
  color: #414141;
}

.bottom__fixed-menu {
  padding: 8px 0;
  position: absolute;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  background: #ffffff;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
}
@media (max-width: 450px) {
  .bottom__fixed-menu {
    display: block;
  }
}
.bottom__fixed-menu .bottom__fixed-btns {
  gap: 35px 35px;
}
@media (max-width: 350px) {
  .bottom__fixed-menu .bottom__fixed-btns {
    overflow: scroll;
  }
  .bottom__fixed-menu .bottom__fixed-btns::-webkit-scrollbar {
    display: none;
  }
}
.bottom__fixed-menu .bottom__fixed-btns button {
  border: none;
  background-color: transparent;
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: 150%;
  color: #414141;
}

main {
  padding: 80px 0;
  background: #fbf8ec;
}
main .container h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 150%;
  color: #414141;
}

.nova__head {
  margin-top: 120px;
}

.novelties {
  padding-top: 40px;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 40px 40px;
}
@media (min-width: 550px) {
  .novelties {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 768px) {
  .novelties {
    grid-template-columns: repeat(4, 1fr);
  }
}
.novelties .novelties__card {
  background: #ffffff;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}
.novelties .novelties__card .novelties__card-descriptions {
  padding: 8px;
}
.novelties .novelties__card .novelties__card-descriptions h4 {
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 150%;
  color: #414141;
}
.novelties .novelties__card .novelties__card-descriptions p {
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 150%;
  color: #414141;
}
.novelties .novelties__card .novelties__card-button {
  margin-top: 16px;
  padding: 8px;
  width: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 150%;
  color: #70c05b;
  border: 1px solid #70c05b;
  border-radius: 4px;
  transition: 0.3s;
}
.novelties .novelties__card .novelties__card-button:hover {
  color: #ffffff;
  background: #ff6633;
  border-radius: 4px;
}

.buy {
  padding-top: 40px;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 40px 40px;
}
@media (min-width: 550px) {
  .buy {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 768px) {
  .buy {
    grid-template-columns: repeat(4, 1fr);
  }
}
.buy .buy__card {
  background: #ffffff;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}
.buy .buy__card .buy__card-descriptions {
  padding: 8px;
}
.buy .buy__card .buy__card-descriptions h4 {
  font-style: normal;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 150%;
  color: #414141;
}
.buy .buy__card .buy__card-descriptions p {
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 150%;
  color: #414141;
}
.buy .buy__card .buy__card-button {
  margin-top: 16px;
  padding: 8px;
  width: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 150%;
  color: #70c05b;
  border: 1px solid #70c05b;
  border-radius: 4px;
  transition: 0.3s;
}
.buy .buy__card .buy__card-button:hover {
  color: #ffffff;
  background: #ff6633;
  border-radius: 4px;
}

.special {
  padding-top: 40px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 40px 40px;
}
@media (max-width: 1000px) {
  .special {
    grid-template-columns: 1fr;
  }
}
.special__card {
  padding: 30px;
  display: flex;
  align-items: center;
  background: #e5ffde;
  border-radius: 4px;
  transition: 0.3s;
}
.special__card:hover {
  background: #fcd5ba;
  box-shadow: 0px 8px 16px rgba(202, 147, 96, 0.5);
}
.special__card .special__card-body .special__card-body__left {
  width: 50%;
}
.special__card .special__card-body .special__card-body__right {
  width: 50%;
}

.products-link {
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 150%;
  color: #606060;
}

#sh,
#ver,
#kras,
#diy {
  display: none;
}

.shop__tabs .shop_btn.active {
  background: #70c05b;
  color: #606060;
}
.shop__tabs button {
  padding: 8px;
  background-color: #f3f2f1;
  border-radius: 4px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #606060;
  transition: 0.3s;
  border: none;
}
.shop__tabs button:hover {
  background: #70c05b;
  color: #606060;
}

.map__item {
  display: none;
}

.map__item.active {
  display: block !important;
}

.shop__items {
  margin-top: 24px;
}
.shop__items iframe {
  width: 100%;
}

.articles {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 40px 40px;
}
@media (min-width: 550px) {
  .articles {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 768px) {
  .articles {
    grid-template-columns: repeat(3, 1fr);
  }
}

.article__card {
  background: #ffffff;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.article__desc {
  padding: 10px;
}
.article__desc p {
  font-style: normal;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 150%;
  color: #8f8f8f;
}
.article__desc h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 150%;
  color: #414141;
}
.article__desc .article__desription {
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 150%;
  color: #414141;
}
.article__desc .article__button {
  padding: 8px;
  background: #e5ffde;
  border-radius: 4px;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  border: none;
  line-height: 150%;
  color: #70c05b;
  transition: 0.3s;
}
.article__desc .article__button:hover {
  color: #ffffff;
  background: #70c05b;
}

.page-links span {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 150%;
  color: #414141;
}
.page-links p {
  font-style: normal;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 150%;
  color: #8f8f8f;
}

.catalog-head {
  margin-top: 24px;
}

.catalog-row {
  width: 100%;
}
@media (min-width: 500px) {
  .catalog-row:nth-child(1) {
    width: 45%;
  }
  .catalog-row:nth-child(2) {
    width: 45%;
  }
  .catalog-row:nth-child(3) {
    width: 45%;
  }
  .catalog-row:nth-child(4) {
    width: 45%;
  }
  .catalog-row:nth-child(5) {
    width: 45%;
  }
  .catalog-row:nth-child(6) {
    width: 45%;
  }
  .catalog-row:nth-child(7) {
    width: 45%;
  }
  .catalog-row:nth-child(8) {
    width: 45%;
  }
  .catalog-row:nth-child(9) {
    width: 45%;
  }
  .catalog-row:nth-child(10) {
    width: 45%;
  }
  .catalog-row:nth-child(11) {
    width: 45%;
  }
  .catalog-row:nth-child(12) {
    width: 45%;
  }
  .catalog-row:nth-child(13) {
    width: 45%;
  }
}
@media (min-width: 800px) {
  .catalog-row:nth-child(1) {
    width: 47%;
  }
  .catalog-row:nth-child(2) {
    width: 47%;
  }
  .catalog-row:nth-child(3) {
    width: 47%;
  }
  .catalog-row:nth-child(4) {
    width: 47%;
  }
  .catalog-row:nth-child(5) {
    width: 47%;
  }
  .catalog-row:nth-child(6) {
    width: 47%;
  }
  .catalog-row:nth-child(7) {
    width: 47%;
  }
  .catalog-row:nth-child(8) {
    width: 47%;
  }
  .catalog-row:nth-child(9) {
    width: 47%;
  }
  .catalog-row:nth-child(10) {
    width: 47%;
  }
  .catalog-row:nth-child(11) {
    width: 47%;
  }
  .catalog-row:nth-child(12) {
    width: 47%;
  }
  .catalog-row:nth-child(13) {
    width: 47%;
  }
}
@media (min-width: 1000px) {
  .catalog-row:nth-child(1) {
    width: 30.4%;
  }
  .catalog-row:nth-child(2) {
    width: 30.4%;
  }
  .catalog-row:nth-child(3) {
    width: 30.4%;
  }
  .catalog-row:nth-child(4) {
    width: 30.4%;
  }
  .catalog-row:nth-child(5) {
    width: 30.4%;
  }
  .catalog-row:nth-child(6) {
    width: 30.4%;
  }
  .catalog-row:nth-child(7) {
    width: 30.4%;
  }
  .catalog-row:nth-child(8) {
    width: 30.4%;
  }
  .catalog-row:nth-child(9) {
    width: 30.4%;
  }
  .catalog-row:nth-child(10) {
    width: 30.4%;
  }
  .catalog-row:nth-child(11) {
    width: 30.4%;
  }
  .catalog-row:nth-child(12) {
    width: 30.4%;
  }
  .catalog-row:nth-child(13) {
    width: 30.4%;
  }
}
@media (min-width: 1300px) {
  .catalog-row:nth-child(1) {
    width: 47.8%;
  }
  .catalog-row:nth-child(2) {
    width: 22%;
  }
  .catalog-row:nth-child(3) {
    width: 22%;
  }
  .catalog-row:nth-child(4) {
    width: 22%;
  }
  .catalog-row:nth-child(5) {
    width: 22%;
  }
  .catalog-row:nth-child(6) {
    width: 22%;
  }
  .catalog-row:nth-child(7) {
    width: 22%;
  }
  .catalog-row:nth-child(8) {
    width: 22%;
  }
  .catalog-row:nth-child(9) {
    width: 22%;
  }
  .catalog-row:nth-child(10) {
    width: 47.8%;
  }
  .catalog-row:nth-child(11) {
    width: 22%;
  }
  .catalog-row:nth-child(12) {
    width: 48%;
  }
  .catalog-row:nth-child(13) {
    width: 22%;
  }
}

.catalog-products {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.catalog-row {
  position: relative;
}
.catalog-row img {
  width: 100%;
}

.catalog-content {
  padding: 80px 10px 10px 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(180deg, rgba(112, 192, 91, 0) 0%, #70c05b 82.81%);
}
.catalog-content:hover {
  background: linear-gradient(180deg, rgba(255, 102, 51, 0) 0%, #ff6633 100%);
}
.catalog-content button {
  border: none;
  background-color: transparent;
  text-align: start;
}
.catalog-content h5 {
  text-align: left;
  font-style: normal;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 150%;
  color: #ffffff;
}

.search-top {
  margin-top: 80px;
}

.search-cards {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 40px 40px;
}
@media (min-width: 500px) {
  .search-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1000px) {
  .search-cards {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1200px) {
  .search-cards {
    grid-template-columns: repeat(4, 1fr);
  }
}
.search-cards .search-card {
  background: #ffffff;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}
.search-cards .search-card .search_card-img img {
  width: 100%;
}
.search-cards .search-card .search-content {
  padding: 8px;
}
.search-cards .search-card .search-payment,
.search-cards .search-card .search-price {
  justify-content: space-between;
}

.search-alert {
  margin-top: 50px;
  display: flex;
  justify-content: start;
}

.search-text {
  margin-bottom: 40px;
}
.search-text h5 {
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 150%;
  color: #414141;
}
.search-text h6 {
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 150%;
  color: #ff6633;
}

.search-prices h5 {
  margin: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 150%;
  color: #414141;
}
.search-prices h6 {
  margin: 0;
  font-weight: 400;
  font-size: 1rem;
  line-height: 150%;
  color: #606060;
}
.search-prices p {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 150%;
  color: #bfbfbf;
}

.search-btn {
  margin-top: 16px;
  padding: 8px;
  width: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 150%;
  color: #70c05b;
  border: 1px solid #70c05b;
  border-radius: 4px;
  transition: 0.3s;
}
.search-btn:hover {
  color: #ffffff;
  background: #ff6633;
  border-radius: 4px;
}

.search_card-img {
  position: relative;
}
.search_card-img #liked-btn {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  background-color: transparent;
}

#popup-menu {
  display: flex;
  align-items: center;
  gap: 20px;
  border: none;
  background-color: transparent;
  cursor: pointer !important;
}

.popup {
  display: none;
}
.popup .popup-container {
  background: rgba(252, 213, 186, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 999;
  justify-content: center;
}
.popup .popup-container .popup-menu {
  position: relative;
  padding: 0 80px 40px 80px;
  background-color: #fff;
}
.popup .popup-container .popup-menu #popup-close {
  background: #f3f2f1;
  border-radius: 4px;
  border: none;
  position: absolute;
  right: 0;
  top: 0;
  margin-bottom: 32px;
}
.popup .popup-container .popup-menu h3 {
  margin: 82px 0 32px;
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 150%;
  text-align: center;
  color: #414141;
}
.popup .popup-container .popup-menu form p {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 150%;
  color: #8f8f8f;
}
.popup .popup-container .popup-menu form input[type=text] {
  margin-bottom: 44px;
  padding: 12px 16px;
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 150%;
  color: #414141;
  background: #ffffff;
  border: 1px solid #70c05b;
  box-shadow: 4px 8px 16px rgba(112, 192, 91, 0.2);
  border-radius: 4px;
}
.popup .popup-container .popup-menu form input[type=text]:focus {
  outline: none;
}
.popup .popup-container .popup-menu button[type=submit] {
  width: 100%;
  padding: 16px;
  border: none;
  margin-bottom: 48px;
  background: #fcd5ba;
  border-radius: 4px;
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 150%;
  text-align: center;
  color: #ff6633;
}
.popup .popup-container .popup-menu .popup-registr {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.popup .popup-container .popup-menu .popup-registr button {
  padding: 4px 8px;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 150%;
  text-align: center;
  color: #70c05b;
  border: none;
  border: 1px solid #70c05b;
  border-radius: 4px;
  background-color: #fff;
}
.popup .popup-container .popup-menu .popup-registr a {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 150%;
  text-align: center;
  color: #606060;
}

#products {
  margin-top: 64px;
}
#products h5 {
  padding: 4px 8px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 150%;
  text-align: center;
  color: #606060;
  background: #f3f2f1;
  border-radius: 4px;
}

.milk-category {
  gap: 40px;
}
@media (max-width: 768px) {
  .milk-category .milk-filter,
  .milk-category .milk-right {
    width: 100% !important;
  }
}
.milk-category .milk-filter {
  margin-top: 40px;
}
.milk-category .milk-filter h4 {
  padding: 10px;
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 150%;
  color: #414141;
  background: #f3f2f1;
  border-radius: 4px;
}
.milk-category .milk-filter .milk_filter-price .filter_inputs-head {
  margin: 40px 0 13px;
}
.milk-category .milk-filter .milk_filter-price .filter_inputs-head p {
  margin-bottom: 0;
  font-weight: 400;
  font-size: 1rem;
  line-height: 150%;
  color: #000000;
}
.milk-category .milk-filter .milk_filter-price .filter_inputs-head button {
  padding: 4px 8px;
  background: #f3f2f1;
  border-radius: 4px;
  font-weight: 400;
  font-size: 0.75rem;
  border: none;
  line-height: 150%;
  color: #606060;
}
.milk-category .milk-filter .milk_filter-price .filter_inputs-head button:focus {
  outline: none;
}
.milk-category .milk-filter .milk_filter-price .filter-inputs {
  margin-bottom: 40px;
}
.milk-category .milk-filter .milk_filter-price .filter-inputs input[type=text] {
  padding: 8px 16px;
  font-weight: 400;
  font-size: 1rem;
  line-height: 28px;
  color: #414141;
  background: #ffffff;
  border: 1px solid #bfbfbf;
  border-radius: 4px;
}
.milk-category .milk-filter .milk_filter-price .filter-inputs span {
  margin: 0 4.5px;
  width: 15px;
  height: 1px;
  background-color: #414141;
}
.milk-category .milk-filter .milk_filter-price .filter-inputs input[type=range] {
  width: 100%;
  margin-top: 13px;
}
.milk-category .milk-filter .milk_filter-price .milk_filter-type {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.milk-category .milk-filter .milk_filter-price .milk_filter-type p {
  margin: 0;
  font-weight: 400;
  font-size: 1rem;
  line-height: 150%;
  color: #414141;
}
.milk-category .milk-filter .milk_filter-in-stock {
  margin: 40px 0;
  display: flex;
  gap: 10px;
  align-items: center;
}
.milk-category .milk-filter .milk_filter-in-stock button {
  position: relative;
  width: 46px;
  height: 24px;
  border: none;
  background: #70c05b;
  border-radius: 49px;
}
.milk-category .milk-filter .milk_filter-in-stock button span {
  position: absolute;
  right: 2px;
  top: 2px;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border: 0.5px solid rgba(0, 0, 0, 0.04);
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15), 0px 1px 1px rgba(0, 0, 0, 0.08);
  border-radius: 100px;
}
.milk-category .milk-filter .milk_filter-in-stock p {
  margin: 0;
  font-weight: 400;
  font-size: 1rem;
  line-height: 150%;
  color: #414141;
}
.milk-category .milk-filter #apply {
  padding: 8px;
  width: 100%;
  font-weight: 400;
  font-size: 1rem;
  line-height: 150%;
  color: #ffffff;
  background: #ff6633;
  border-radius: 4px;
  border: none;
}
.milk-category .milk-filter #apply:focus {
  outline: none;
}
.milk-category .milk-right .milk_products-btn {
  margin: 40px 0;
  width: 100%;
  gap: 24px;
}
@media (max-width: 600px) {
  .milk-category .milk-right .milk_products-btn {
    flex-direction: column;
  }
}
.milk-category .milk-right .milk_products-btn button {
  padding: 8px;
  border: none;
  font-style: normal;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 150%;
  color: #ffffff;
  background: #70c05b;
  border-radius: 4px;
}
.milk-category .milk-right .milk_products-btn button:focus {
  outline: none;
}
.milk-category .milk-right .milk_products-btn button i {
  font-size: 15px;
}

.milk-products {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 40px;
}
@media (min-width: 576px) {
  .milk-products {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (min-width: 768px) {
  .milk-products {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1000px) {
  .milk-products {
    grid-template-columns: repeat(3, 1fr);
  }
}
.milk-products .milk-product {
  background: #ffffff;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}
.milk-products .milk-product .milk-content {
  padding: 8px;
}
.milk-products .milk-product .milk-content .milk-price {
  display: flex;
  justify-content: space-between;
}
.milk-products .milk-product .milk-content .milk-price h5 {
  font-style: normal;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 150%;
  color: #414141;
}
.milk-products .milk-product .milk-content .milk-price h6 {
  font-weight: 400;
  font-size: 1rem;
  line-height: 150%;
  color: #606060;
}
.milk-products .milk-product .milk-content .milk-payment {
  display: flex;
  justify-content: space-between;
}
.milk-products .milk-product .milk-content .milk-payment p {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 150%;
  color: #bfbfbf;
}
.milk-products .milk-product .milk-description p {
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 150%;
  color: #414141;
}
.milk-products .milk-product .milk-button button {
  margin-top: 16px;
  padding: 8px;
  width: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 150%;
  color: #70c05b;
  border: 1px solid #70c05b;
  border-radius: 4px;
  transition: 0.3s;
}
.milk-products .milk-product .milk-button button:hover {
  color: #ffffff;
  background: #ff6633;
  border-radius: 4px;
}
.milk-products .milk-product .milk-button button:focus {
  outline: none;
}

#cart {
  padding: 30px 0 80px;
  margin-top: 75px;
  background: #fbf8ec;
}
#cart .catalog-head {
  margin-bottom: 60px;
}
#cart .catalog-head h2 {
  font-weight: 700;
  font-size: 4rem;
  line-height: 150%;
  color: #414141;
}
#cart .cart {
  display: flex;
  gap: 40px;
}
#cart .cart .cart-left {
  width: 75%;
}
#cart .cart .cart-rows {
  display: grid;
  grid-gap: 24px;
}
#cart .cart .cart-rows .cart_rows-img {
  width: 80px;
  height: 60px;
}
#cart .cart .cart-rows .cart-row {
  padding: 0 8px 12px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  background: #ffffff;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}
#cart .cart .cart-rows .cart-row .cart-content {
  width: 60%;
  padding-top: 10px;
  margin-right: 8px;
}
#cart .cart .cart-rows .cart-row .cart-content h4 {
  margin: 0;
  padding-bottom: 10px;
  font-weight: 400;
  font-size: 1rem;
  line-height: 150%;
  color: #414141;
}
#cart .cart .cart-rows .cart-row .cart-content p {
  margin: 0;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 150%;
  color: #414141;
}
#cart .cart .cart-rows .cart-row .cart-content p span {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 150%;
  color: #606060;
}
#cart .cart .cart-rows .cart-row .cart-quantity {
  height: 40px;
  padding: 8px;
  margin-right: 8px;
  display: flex;
  gap: 8px;
  align-items: center;
  background: #70c05b;
  border-radius: 4px;
}
#cart .cart .cart-rows .cart-row .cart-quantity span {
  font-weight: 400;
  font-size: 1rem;
  line-height: 150%;
  color: #ffffff;
}
#cart .cart .cart-rows .cart-row .cart-quantity button {
  font-weight: 400;
  font-size: 1rem;
  border: none;
  line-height: 150%;
  color: #ffffff;
  background-color: transparent;
}
#cart .cart .cart-rows .cart-row .cart_row-totalPrice {
  margin: 0;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 150%;
  color: #414141;
}
#cart .cart .cart-right {
  width: 25%;
}
#cart .cart .cart-right .cart_right-switch {
  display: flex;
  gap: 12px;
}
#cart .cart .cart-right .cart_right-switch button {
  position: relative;
  display: flex;
  width: 46px;
  height: 24px;
  border: none;
  background: #70c05b;
  border-radius: 49px;
}
#cart .cart .cart-right .cart_right-switch button span {
  position: absolute;
  top: 2px;
  right: 2px;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border: 0.5px solid rgba(0, 0, 0, 0.04);
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15), 0px 1px 1px rgba(0, 0, 0, 0.08);
  border-radius: 100px;
}
#cart .cart .cart-right .cart_right-switch p {
  font-weight: 400;
  font-size: 1rem;
  line-height: 150%;
  color: #414141;
}
#cart .cart .cart-right .cart_right-text {
  font-weight: 400;
  font-size: 1rem;
  line-height: 150%;
  color: #8f8f8f;
}
#cart .cart .cart-right .cart_right-product {
  padding: 24px 0;
  justify-content: space-between;
  border-top: 1px solid #f3f2f1;
  border-bottom: 1px solid #f3f2f1;
}
#cart .cart .cart-right .cart_right-product .right_product-right p {
  font-weight: 400;
  font-size: 1rem;
  line-height: 150%;
  color: #8f8f8f;
}
#cart .cart .cart-right .cart_right-product .right_product-left p {
  font-weight: 400;
  font-size: 1rem;
  line-height: 150%;
  color: #414141;
}
#cart .cart .cart-right .cart_right-product .right_product-left span {
  font-weight: 700;
  font-size: 1rem;
  line-height: 150%;
  color: #ff6633;
}
#cart .cart .cart-right .cart_right-total p {
  font-weight: 400;
  font-size: 1rem;
  line-height: 150%;
  color: #8f8f8f;
}
#cart .cart .cart-right .cart_right-total span {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 150%;
  color: #414141;
}
#cart .cart .cart-right .cart_right-bonus {
  margin-bottom: 19px;
  gap: 8px;
  justify-content: center;
}
#cart .cart .cart-right .cart_right-bonus p {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 150%;
  color: #70c05b;
}
#cart .cart .cart-right #checkout {
  padding: 18px 16px;
  width: 100%;
  border: none;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 150%;
  color: #ff6633;
  background: #fcd5ba;
  border-radius: 4px;
}

.favorite-category {
  gap: 40px;
}
@media (max-width: 768px) {
  .favorite-category .favorite-filter,
  .favorite-category .favorite-right {
    width: 100% !important;
  }
}
.favorite-category .favorite-filter {
  margin-top: 40px;
}
.favorite-category .favorite-filter h4 {
  padding: 10px;
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 150%;
  color: #414141;
  background: #f3f2f1;
  border-radius: 4px;
}
.favorite-category .favorite-filter .favorite_filter-price .filter_inputs-head {
  margin: 40px 0 13px;
}
.favorite-category .favorite-filter .favorite_filter-price .filter_inputs-head p {
  margin-bottom: 0;
  font-weight: 400;
  font-size: 1rem;
  line-height: 150%;
  color: #000000;
}
.favorite-category .favorite-filter .favorite_filter-price .filter_inputs-head button {
  padding: 4px 8px;
  background: #f3f2f1;
  border-radius: 4px;
  font-weight: 400;
  font-size: 0.75rem;
  border: none;
  line-height: 150%;
  color: #606060;
}
.favorite-category .favorite-filter .favorite_filter-price .filter_inputs-head button:focus {
  outline: none;
}
.favorite-category .favorite-filter .favorite_filter-price .filter-inputs {
  margin-bottom: 40px;
}
.favorite-category .favorite-filter .favorite_filter-price .filter-inputs input[type=text] {
  padding: 8px 16px;
  font-weight: 400;
  font-size: 1rem;
  line-height: 28px;
  color: #414141;
  background: #ffffff;
  border: 1px solid #bfbfbf;
  border-radius: 4px;
}
.favorite-category .favorite-filter .favorite_filter-price .filter-inputs span {
  margin: 0 4.5px;
  width: 15px;
  height: 1px;
  background-color: #414141;
}
.favorite-category .favorite-filter .favorite_filter-price .filter-inputs input[type=range] {
  width: 100%;
  margin-top: 13px;
}
.favorite-category .favorite-filter .favorite_filter-price .favorite_filter-type {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.favorite-category .favorite-filter .favorite_filter-price .favorite_filter-type p {
  margin: 0;
  font-weight: 400;
  font-size: 1rem;
  line-height: 150%;
  color: #414141;
}
.favorite-category .favorite-filter .favorite_filter-in-stock {
  margin: 40px 0;
  display: flex;
  gap: 10px;
  align-items: center;
}
.favorite-category .favorite-filter .favorite_filter-in-stock button {
  position: relative;
  width: 46px;
  height: 24px;
  border: none;
  background: #70c05b;
  border-radius: 49px;
}
.favorite-category .favorite-filter .favorite_filter-in-stock button span {
  position: absolute;
  right: 2px;
  top: 2px;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border: 0.5px solid rgba(0, 0, 0, 0.04);
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15), 0px 1px 1px rgba(0, 0, 0, 0.08);
  border-radius: 100px;
}
.favorite-category .favorite-filter .favorite_filter-in-stock p {
  margin: 0;
  font-weight: 400;
  font-size: 1rem;
  line-height: 150%;
  color: #414141;
}
.favorite-category .favorite-filter #apply {
  padding: 8px;
  width: 100%;
  font-weight: 400;
  font-size: 1rem;
  line-height: 150%;
  color: #ffffff;
  background: #ff6633;
  border-radius: 4px;
  border: none;
}
.favorite-category .favorite-filter #apply:focus {
  outline: none;
}
.favorite-category .favorite-right .favorite_products-btn {
  margin: 40px 0;
  width: 100%;
  gap: 24px;
}
@media (max-width: 600px) {
  .favorite-category .favorite-right .favorite_products-btn {
    flex-direction: column;
  }
}
.favorite-category .favorite-right .favorite_products-btn button {
  padding: 8px;
  border: none;
  font-style: normal;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 150%;
  color: #ffffff;
  background: #70c05b;
  border-radius: 4px;
}
.favorite-category .favorite-right .favorite_products-btn button:focus {
  outline: none;
}
.favorite-category .favorite-right .favorite_products-btn button i {
  font-size: 15px;
}

.favorite-products {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 40px;
}
@media (min-width: 576px) {
  .favorite-products {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (min-width: 768px) {
  .favorite-products {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1000px) {
  .favorite-products {
    grid-template-columns: repeat(3, 1fr);
  }
}
.favorite-products .favorite-product {
  background: #ffffff;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}
.favorite-products .favorite-product .favorite-content {
  padding: 8px;
}
.favorite-products .favorite-product .favorite-content .favorite-price {
  display: flex;
  justify-content: space-between;
}
.favorite-products .favorite-product .favorite-content .favorite-price h5 {
  font-style: normal;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 150%;
  color: #414141;
}
.favorite-products .favorite-product .favorite-content .favorite-price h6 {
  font-weight: 400;
  font-size: 1rem;
  line-height: 150%;
  color: #606060;
}
.favorite-products .favorite-product .favorite-content .favorite-payment {
  display: flex;
  justify-content: space-between;
}
.favorite-products .favorite-product .favorite-content .favorite-payment p {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 150%;
  color: #bfbfbf;
}
.favorite-products .favorite-product .favorite-description p {
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 150%;
  color: #414141;
}
.favorite-products .favorite-product .favorite-button button {
  margin-top: 16px;
  padding: 8px;
  width: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 150%;
  color: #70c05b;
  border: 1px solid #70c05b;
  border-radius: 4px;
  transition: 0.3s;
}
.favorite-products .favorite-product .favorite-button button:hover {
  color: #ffffff;
  background: #ff6633;
  border-radius: 4px;
}
.favorite-products .favorite-product .favorite-button button:focus {
  outline: none;
}

.favorite-products .search-card {
  background: #ffffff;
  /* Default/XS */
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}
.favorite-products .search-content {
  padding: 8px;
}